In [1]:
#base columns
columns_df1=['Application Reference ID', 'Application Major', 'Scholarship_Awarded',
       'Application CGPA', 'FAFSA Filed', 'High School Code',
       'Financial Aid Appeal', 'Accepted Student Day Event Attended',
       'Campus Visits - Person', 'Campus Visits - App', 'Logins Before Admit',
       'Acceptance Call Success', 'Application Consider Test Scores',
       'Application ACRK', 'Waitlist Confirmed Date', 'Emails Sent',
       'Emails Opened', 'Was Inquiry', 'Athlete', 'admitted',
       'Application College_00', 'Application College_CAS',
       'Application College_COB', 'Application College_HCLC',
       'Application College_ID', 'Application College_SHS',
       'Application College_TCOE', 'Application Housing_Commuter',
       'Application Housing_Residential', 'Application Housing_nan',
       'Application Enroll Status_Full Time',
       'Application Enroll Status_Part Time', 'Application Span',
       'Admission Span', 'Person Sex_F', 'Person Sex_M', 'Person Sex_Unknown',
       'High School Region_Midwest', 'High School Region_Military',
       'High School Region_Northeast', 'High School Region_South',
       'High School Region_Southwest', 'High School Region_Territory',
       'High School Region_West', 'Address 1 Region_Midwest',
       'Address 1 Region_Military', 'Address 1 Region_Northeast',
       'Address 1 Region_South', 'Address 1 Region_Southwest',
       'Address 1 Region_Territory', 'Address 1 Region_West']
len(columns_df1)

51

### libraries

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

### load the data

In [3]:
import pandas as pd
adm_total=pd.read_excel("/Users/bhaskaravanacharla/Downloads/Documents/Machine_learning/admissionnn/fall25/Fall 2025 5.13.25.xlsx")

In [4]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12660 entries, 0 to 12659
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12660 non-null  int64
 1   Application Entry Term               12660 non-null  object
 2   Application Major                    12660 non-null  object
 3   Application College                  12660 non-null  object
 4   Application Housing                  12113 non-null  object
 5   Application Enroll Status            12660 non-null  object
 6   Application Submitted Date           12660 non-null  datetime64[ns]
 7   Application Completed Date           12660 non-null  datetime64[ns]
 8   Admit Confirmed Date                 12660 non-null  datetime64[ns]
 9   Admit Received/Opened Date           7779 non-null   datetime64[ns]
 10  Admit Open Span                      7779 non-null   float64
 11  Deposit Confirmed Date               1317 non-null   datetime64[ns]
 12  Scholarship_Awarded                  12660 non-null  int64
 13  Application CGPA                     12660 non-null  object
 14  Person Sex                           12645 non-null  object
 15  FAFSA Filed                          12660 non-null  int64
 16  High School Name                     12660 non-null  object
 17  High School Code                     12637 non-null  float64
 18  High School City                     12636 non-null  object
 19  High School Region                   12620 non-null  object
 20  High School Country                  12641 non-null  object
 21  Financial Aid Appeal                 12660 non-null  int64
 22  Accepted Student Day Event Attended  12660 non-null  int64
 23  Campus Visits - Person               12660 non-null  int64
 24  Campus Visits - App                  12660 non-null  int64
 25  Logins Before Admit                  12660 non-null  int64
 26  Acceptance Call Success              12660 non-null  int64
 27  Address 1 Region                     12654 non-null  object
 28  Application Consider Test Scores     12047 non-null  object
 29  Application ACRK                     12654 non-null  float64
 30  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 31  Emails Sent                          12660 non-null  int64
 32  Emails Opened                        12660 non-null  int64
 33  Was Inquiry                          12660 non-null  int64
 34  Athlete                              12660 non-null  int64
dtypes: datetime64[ns](6), float64(3), int64(13), object(13)
memory usage: 3.4+ MB

### Application Entry Term
drop the application reference term from the data

In [5]:
adm_total.drop(columns=['Application Entry Term'],inplace=True)

In [6]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12660 entries, 0 to 12659
Data columns (total 34 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12660 non-null  int64
 1   Application Major                    12660 non-null  object
 2   Application College                  12660 non-null  object
 3   Application Housing                  12113 non-null  object
 4   Application Enroll Status            12660 non-null  object
 5   Application Submitted Date           12660 non-null  datetime64[ns]
 6   Application Completed Date           12660 non-null  datetime64[ns]
 7   Admit Confirmed Date                 12660 non-null  datetime64[ns]
 8   Admit Received/Opened Date           7779 non-null   datetime64[ns]
 9   Admit Open Span                      7779 non-null   float64
 10  Deposit Confirmed Date               1317 non-null   datetime64[ns]
 11  Scholarship_Awarded                  12660 non-null  int64
 12  Application CGPA                     12660 non-null  object
 13  Person Sex                           12645 non-null  object
 14  FAFSA Filed                          12660 non-null  int64
 15  High School Name                     12660 non-null  object
 16  High School Code                     12637 non-null  float64
 17  High School City                     12636 non-null  object
 18  High School Region                   12620 non-null  object
 19  High School Country                  12641 non-null  object
 20  Financial Aid Appeal                 12660 non-null  int64
 21  Accepted Student Day Event Attended  12660 non-null  int64
 22  Campus Visits - Person               12660 non-null  int64
 23  Campus Visits - App                  12660 non-null  int64
 24  Logins Before Admit                  12660 non-null  int64
 25  Acceptance Call Success              12660 non-null  int64
 26  Address 1 Region                     12654 non-null  object
 27  Application Consider Test Scores     12047 non-null  object
 28  Application ACRK                     12654 non-null  float64
 29  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 30  Emails Sent                          12660 non-null  int64
 31  Emails Opened                        12660 non-null  int64
 32  Was Inquiry                          12660 non-null  int64
 33  Athlete                              12660 non-null  int64
dtypes: datetime64[ns](6), float64(3), int64(13), object(12)
memory usage: 3.3+ MB

### Deposit confirmed date

In [7]:
#create new column based on deposit confirmed date and drop the column
adm_total['admitted']=adm_total['Deposit Confirmed Date'].apply(lambda x: 1 if pd.notna(x) and x!= '' else 0)
adm_total.drop(columns=['Deposit Confirmed Date'],inplace=True)

In [8]:
adm_total['admitted'].value_counts()

admitted
0    11343
1     1317
Name: count, dtype: int64

### Application Major

In [9]:
label_encoder = LabelEncoder()
adm_total['Application Major'] = label_encoder.fit_transform(adm_total['Application Major']).astype(int)

### Application College & Application Housing

In [10]:
#convert application college to one hot vectors using one-hot encoding
encoder= OneHotEncoder(sparse_output=False, dtype=int)
encoded_array = encoder.fit_transform(adm_total[['Application College']])
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['Application College']))
adm_total = pd.concat([adm_total, encoded_df], axis=1)

In [11]:
#use onehot encoding to convert application housing
encoder= OneHotEncoder(sparse_output=False, dtype=int)
encoded_array = encoder.fit_transform(adm_total[['Application Housing']])
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['Application Housing']))
adm_total = pd.concat([adm_total, encoded_df], axis=1)

In [12]:
#drop those columns 
adm_total.drop(columns=['Application College','Application Housing'], inplace=True)

### Application Enroll Status

In [13]:
adm_total['Application Enroll Status']

0        Full Time
1        Full Time
2        Full Time
3        Full Time
4        Full Time
           ...
12655    Full Time
12656    Full Time
12657    Full Time
12658    Full Time
12659    Full Time
Name: Application Enroll Status, Length: 12660, dtype: object

In [14]:
#use onehot encoding to convert application housing
encoder= OneHotEncoder(sparse_output=False, dtype=int)
encoded_array = encoder.fit_transform(adm_total[['Application Enroll Status']])
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['Application Enroll Status']))
adm_total = pd.concat([adm_total, encoded_df], axis=1)

In [15]:
adm_total.drop(columns=['Application Enroll Status'],inplace=True)

In [16]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12660 entries, 0 to 12659
Data columns (total 43 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12660 non-null  int64
 1   Application Major                    12660 non-null  int64
 2   Application Submitted Date           12660 non-null  datetime64[ns]
 3   Application Completed Date           12660 non-null  datetime64[ns]
 4   Admit Confirmed Date                 12660 non-null  datetime64[ns]
 5   Admit Received/Opened Date           7779 non-null   datetime64[ns]
 6   Admit Open Span                      7779 non-null   float64
 7   Scholarship_Awarded                  12660 non-null  int64
 8   Application CGPA                     12660 non-null  object
 9   Person Sex                           12645 non-null  object
 10  FAFSA Filed                          12660 non-null  int64
 11  High School Name                     12660 non-null  object
 12  High School Code                     12637 non-null  float64
 13  High School City                     12636 non-null  object
 14  High School Region                   12620 non-null  object
 15  High School Country                  12641 non-null  object
 16  Financial Aid Appeal                 12660 non-null  int64
 17  Accepted Student Day Event Attended  12660 non-null  int64
 18  Campus Visits - Person               12660 non-null  int64
 19  Campus Visits - App                  12660 non-null  int64
 20  Logins Before Admit                  12660 non-null  int64
 21  Acceptance Call Success              12660 non-null  int64
 22  Address 1 Region                     12654 non-null  object
 23  Application Consider Test Scores     12047 non-null  object
 24  Application ACRK                     12654 non-null  float64
 25  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 26  Emails Sent                          12660 non-null  int64
 27  Emails Opened                        12660 non-null  int64
 28  Was Inquiry                          12660 non-null  int64
 29  Athlete                              12660 non-null  int64
 30  admitted                             12660 non-null  int64
 31  Application College_00               12660 non-null  int64
 32  Application College_CAS              12660 non-null  int64
 33  Application College_COB              12660 non-null  int64
 34  Application College_HCLC             12660 non-null  int64
 35  Application College_ID               12660 non-null  int64
 36  Application College_SHS              12660 non-null  int64
 37  Application College_TCOE             12660 non-null  int64
 38  Application Housing_Commuter         12660 non-null  int64
 39  Application Housing_Residential      12660 non-null  int64
 40  Application Housing_nan              12660 non-null  int64
 41  Application Enroll Status_Full Time  12660 non-null  int64
 42  Application Enroll Status_Part Time  12660 non-null  int64
dtypes: datetime64[ns](5), float64(3), int64(27), object(8)
memory usage: 4.2+ MB

### Application Submitted Date,Application Completed Date, Admit Confirmed Date, Admit Received/Opened Date , Admit Open Span

In [17]:
adm_total['Application Span'] = (adm_total['Application Completed Date'] - adm_total['Application Submitted Date']).dt.days

In [18]:
adm_total['Admit Received/Opened Date']=adm_total['Admit Received/Opened Date'].fillna(adm_total['Admit Confirmed Date'])
adm_total['Admission Span'] = (adm_total['Admit Received/Opened Date']-adm_total['Admit Confirmed Date']).dt.total_seconds()
adm_total['Admission Span'] = adm_total['Admission Span']/ 86400

In [19]:
#drop the columns 
adm_total.drop(['Admit Received/Opened Date', 'Admit Confirmed Date'], axis=1,inplace=True)

In [20]:
adm_total.drop(columns=['Application Completed Date','Application Submitted Date'],axis=1,inplace=True)

In [21]:
adm_total.drop(columns=['Admit Open Span'],axis=1,inplace=True)

In [22]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12660 entries, 0 to 12659
Data columns (total 40 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12660 non-null  int64
 1   Application Major                    12660 non-null  int64
 2   Scholarship_Awarded                  12660 non-null  int64
 3   Application CGPA                     12660 non-null  object
 4   Person Sex                           12645 non-null  object
 5   FAFSA Filed                          12660 non-null  int64
 6   High School Name                     12660 non-null  object
 7   High School Code                     12637 non-null  float64
 8   High School City                     12636 non-null  object
 9   High School Region                   12620 non-null  object
 10  High School Country                  12641 non-null  object
 11  Financial Aid Appeal                 12660 non-null  int64
 12  Accepted Student Day Event Attended  12660 non-null  int64
 13  Campus Visits - Person               12660 non-null  int64
 14  Campus Visits - App                  12660 non-null  int64
 15  Logins Before Admit                  12660 non-null  int64
 16  Acceptance Call Success              12660 non-null  int64
 17  Address 1 Region                     12654 non-null  object
 18  Application Consider Test Scores     12047 non-null  object
 19  Application ACRK                     12654 non-null  float64
 20  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 21  Emails Sent                          12660 non-null  int64
 22  Emails Opened                        12660 non-null  int64
 23  Was Inquiry                          12660 non-null  int64
 24  Athlete                              12660 non-null  int64
 25  admitted                             12660 non-null  int64
 26  Application College_00               12660 non-null  int64
 27  Application College_CAS              12660 non-null  int64
 28  Application College_COB              12660 non-null  int64
 29  Application College_HCLC             12660 non-null  int64
 30  Application College_ID               12660 non-null  int64
 31  Application College_SHS              12660 non-null  int64
 32  Application College_TCOE             12660 non-null  int64
 33  Application Housing_Commuter         12660 non-null  int64
 34  Application Housing_Residential      12660 non-null  int64
 35  Application Housing_nan              12660 non-null  int64
 36  Application Enroll Status_Full Time  12660 non-null  int64
 37  Application Enroll Status_Part Time  12660 non-null  int64
 38  Application Span                     12660 non-null  int64
 39  Admission Span                       12660 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(28), object(8)
memory usage: 3.9+ MB

### application cgpa

In [23]:
adm_total['Application CGPA'] = pd.to_numeric(adm_total['Application CGPA'], errors='coerce')

In [24]:
adm_total['Application CGPA']=adm_total['Application CGPA'].apply(lambda x :4 if x>=4 else x)

In [25]:
mean_value = adm_total['Application CGPA'].mean()
adm_total['Application CGPA'].fillna(mean_value, inplace=True)

/var/folders/7t/938pkq393dl5_v0w4yxztbpw0000gn/T/ipykernel_2146/1136892092.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  adm_total['Application CGPA'].fillna(mean_value, inplace=True)

In [26]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12660 entries, 0 to 12659
Data columns (total 40 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12660 non-null  int64
 1   Application Major                    12660 non-null  int64
 2   Scholarship_Awarded                  12660 non-null  int64
 3   Application CGPA                     12660 non-null  float64
 4   Person Sex                           12645 non-null  object
 5   FAFSA Filed                          12660 non-null  int64
 6   High School Name                     12660 non-null  object
 7   High School Code                     12637 non-null  float64
 8   High School City                     12636 non-null  object
 9   High School Region                   12620 non-null  object
 10  High School Country                  12641 non-null  object
 11  Financial Aid Appeal                 12660 non-null  int64
 12  Accepted Student Day Event Attended  12660 non-null  int64
 13  Campus Visits - Person               12660 non-null  int64
 14  Campus Visits - App                  12660 non-null  int64
 15  Logins Before Admit                  12660 non-null  int64
 16  Acceptance Call Success              12660 non-null  int64
 17  Address 1 Region                     12654 non-null  object
 18  Application Consider Test Scores     12047 non-null  object
 19  Application ACRK                     12654 non-null  float64
 20  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 21  Emails Sent                          12660 non-null  int64
 22  Emails Opened                        12660 non-null  int64
 23  Was Inquiry                          12660 non-null  int64
 24  Athlete                              12660 non-null  int64
 25  admitted                             12660 non-null  int64
 26  Application College_00               12660 non-null  int64
 27  Application College_CAS              12660 non-null  int64
 28  Application College_COB              12660 non-null  int64
 29  Application College_HCLC             12660 non-null  int64
 30  Application College_ID               12660 non-null  int64
 31  Application College_SHS              12660 non-null  int64
 32  Application College_TCOE             12660 non-null  int64
 33  Application Housing_Commuter         12660 non-null  int64
 34  Application Housing_Residential      12660 non-null  int64
 35  Application Housing_nan              12660 non-null  int64
 36  Application Enroll Status_Full Time  12660 non-null  int64
 37  Application Enroll Status_Part Time  12660 non-null  int64
 38  Application Span                     12660 non-null  int64
 39  Admission Span                       12660 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(28), object(7)
memory usage: 3.9+ MB

In [27]:
#handle the missing values

### Person Sex

In [28]:
encoder=OneHotEncoder(sparse_output=False,dtype=int)
encoded_array=encoder.fit_transform(adm_total[['Person Sex']])
encoded_df=pd.DataFrame(encoded_array,columns=encoder.get_feature_names_out(['Person Sex']))
adm_total=pd.concat([adm_total, encoded_df], axis=1)

In [29]:
adm_total.drop(columns=['Person Sex'],axis=1,inplace=True)

In [30]:
adm_total.rename(columns={'Person Sex_nan':'Person Sex_Unknown'}, inplace=True)

In [31]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12660 entries, 0 to 12659
Data columns (total 42 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12660 non-null  int64
 1   Application Major                    12660 non-null  int64
 2   Scholarship_Awarded                  12660 non-null  int64
 3   Application CGPA                     12660 non-null  float64
 4   FAFSA Filed                          12660 non-null  int64
 5   High School Name                     12660 non-null  object
 6   High School Code                     12637 non-null  float64
 7   High School City                     12636 non-null  object
 8   High School Region                   12620 non-null  object
 9   High School Country                  12641 non-null  object
 10  Financial Aid Appeal                 12660 non-null  int64
 11  Accepted Student Day Event Attended  12660 non-null  int64
 12  Campus Visits - Person               12660 non-null  int64
 13  Campus Visits - App                  12660 non-null  int64
 14  Logins Before Admit                  12660 non-null  int64
 15  Acceptance Call Success              12660 non-null  int64
 16  Address 1 Region                     12654 non-null  object
 17  Application Consider Test Scores     12047 non-null  object
 18  Application ACRK                     12654 non-null  float64
 19  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 20  Emails Sent                          12660 non-null  int64
 21  Emails Opened                        12660 non-null  int64
 22  Was Inquiry                          12660 non-null  int64
 23  Athlete                              12660 non-null  int64
 24  admitted                             12660 non-null  int64
 25  Application College_00               12660 non-null  int64
 26  Application College_CAS              12660 non-null  int64
 27  Application College_COB              12660 non-null  int64
 28  Application College_HCLC             12660 non-null  int64
 29  Application College_ID               12660 non-null  int64
 30  Application College_SHS              12660 non-null  int64
 31  Application College_TCOE             12660 non-null  int64
 32  Application Housing_Commuter         12660 non-null  int64
 33  Application Housing_Residential      12660 non-null  int64
 34  Application Housing_nan              12660 non-null  int64
 35  Application Enroll Status_Full Time  12660 non-null  int64
 36  Application Enroll Status_Part Time  12660 non-null  int64
 37  Application Span                     12660 non-null  int64
 38  Admission Span                       12660 non-null  float64
 39  Person Sex_F                         12660 non-null  int64
 40  Person Sex_M                         12660 non-null  int64
 41  Person Sex_Unknown                   12660 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(31), object(6)
memory usage: 4.1+ MB

### High school Country

In [32]:
adm_total = adm_total[adm_total['High School Country'] == "United States"].reset_index(drop=True)

In [33]:
adm_total['admitted'].value_counts()

admitted
0    11301
1     1312
Name: count, dtype: int64

In [34]:
adm_total.drop(columns=['High School Country'],axis=1,inplace=True)

### High School City,High school Name,High School Code

In [35]:
#drop the rows where the value of high school code is null and amditted are 0 
adm_total=adm_total.drop(adm_total[adm_total['High School Code'].isna() & (adm_total['admitted'] == 0)].index).reset_index(drop=True)

In [36]:
adm_total[adm_total['High School Code'].isna() & (adm_total['admitted'] == 1)]

,Application Reference ID,Application Major,Scholarship_Awarded,Application CGPA,FAFSA Filed,High School Name,High School Code,High School City,High School Region,Financial Aid Appeal,...,Application Housing_Commuter,Application Housing_Residential,Application Housing_nan,Application Enroll Status_Full Time,Application Enroll Status_Part Time,Application Span,Admission Span,Person Sex_F,Person Sex_M,Person Sex_Unknown
8108,528416335,14,1,3.6,0,Adesina Yewande Academy,NaN,Ferndale,MI,0,...,0,1,0,1,0,1,0.03647,1,0,0

In [37]:
High_School_Code_map={
    "General Education Development (GED)":"070905",
    "notre dame high school west haven":"070905",
}

In [38]:
#map those column values with their school names(High School Name)
adm_total.loc[
    adm_total['High School Code'].isna() & (adm_total['admitted'] == 1), 
    'High School Code'
] = adm_total['High School Name'].map(High_School_Code_map)

/var/folders/7t/938pkq393dl5_v0w4yxztbpw0000gn/T/ipykernel_2146/2931894495.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[nan]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  adm_total.loc[

In [39]:
# Initialize the label encoder
encoder = LabelEncoder()

# Fit and transform the 'High School Code' column
adm_total['High School Code'] = encoder.fit_transform(adm_total['High School Code'])

In [40]:
#drop the columns High school city and high school name
adm_total.drop(columns=['High School Name','High School City'],axis=1,inplace=True)

In [41]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12597 entries, 0 to 12596
Data columns (total 39 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12597 non-null  int64
 1   Application Major                    12597 non-null  int64
 2   Scholarship_Awarded                  12597 non-null  int64
 3   Application CGPA                     12597 non-null  float64
 4   FAFSA Filed                          12597 non-null  int64
 5   High School Code                     12597 non-null  int64
 6   High School Region                   12593 non-null  object
 7   Financial Aid Appeal                 12597 non-null  int64
 8   Accepted Student Day Event Attended  12597 non-null  int64
 9   Campus Visits - Person               12597 non-null  int64
 10  Campus Visits - App                  12597 non-null  int64
 11  Logins Before Admit                  12597 non-null  int64
 12  Acceptance Call Success              12597 non-null  int64
 13  Address 1 Region                     12597 non-null  object
 14  Application Consider Test Scores     12000 non-null  object
 15  Application ACRK                     12592 non-null  float64
 16  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 17  Emails Sent                          12597 non-null  int64
 18  Emails Opened                        12597 non-null  int64
 19  Was Inquiry                          12597 non-null  int64
 20  Athlete                              12597 non-null  int64
 21  admitted                             12597 non-null  int64
 22  Application College_00               12597 non-null  int64
 23  Application College_CAS              12597 non-null  int64
 24  Application College_COB              12597 non-null  int64
 25  Application College_HCLC             12597 non-null  int64
 26  Application College_ID               12597 non-null  int64
 27  Application College_SHS              12597 non-null  int64
 28  Application College_TCOE             12597 non-null  int64
 29  Application Housing_Commuter         12597 non-null  int64
 30  Application Housing_Residential      12597 non-null  int64
 31  Application Housing_nan              12597 non-null  int64
 32  Application Enroll Status_Full Time  12597 non-null  int64
 33  Application Enroll Status_Part Time  12597 non-null  int64
 34  Application Span                     12597 non-null  int64
 35  Admission Span                       12597 non-null  float64
 36  Person Sex_F                         12597 non-null  int64
 37  Person Sex_M                         12597 non-null  int64
 38  Person Sex_Unknown                   12597 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(32), object(3)
memory usage: 3.7+ MB

In [42]:
adm_total['admitted'].value_counts()

admitted
0    11285
1     1312
Name: count, dtype: int64

### High school region

In [43]:
adm_total.drop(adm_total[(adm_total['High School Region'].isnull()) & (adm_total['admitted'] == 0)].index, inplace=True)
adm_total.reset_index(drop=True, inplace=True)

In [44]:
adm_total[(adm_total['High School Region'].isnull()) & (adm_total['admitted'] == 1)]

Empty DataFrame
Columns: [Application Reference ID, Application Major, Scholarship_Awarded, Application CGPA, FAFSA Filed, High School Code, High School Region, Financial Aid Appeal, Accepted Student Day Event Attended, Campus Visits - Person, Campus Visits - App, Logins Before Admit, Acceptance Call Success, Address 1 Region, Application Consider Test Scores, Application ACRK, Waitlist Confirmed Date, Emails Sent, Emails Opened, Was Inquiry, Athlete, admitted, Application College_00, Application College_CAS, Application College_COB, Application College_HCLC, Application College_ID, Application College_SHS, Application College_TCOE, Application Housing_Commuter, Application Housing_Residential, Application Housing_nan, Application Enroll Status_Full Time, Application Enroll Status_Part Time, Application Span, Admission Span, Person Sex_F, Person Sex_M, Person Sex_Unknown]
Index: []

[0 rows x 39 columns]

In [45]:
adm_total.loc[(adm_total['High School Region'].isnull()) & (adm_total['admitted'] == 1), 'High School Region'] = 'CT'

In [46]:
#region mapping for the regions of the 
# Dictionary to map full state names to abbreviations
state_mapping = {
    "Alaska": "AK",
    "Alabama": "AL",
    "Armed Forces Pacific": "AP",
    "Arkansas": "AR",
    "Arizona": "AZ",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "District of Columbia": "DC",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Guam": "GU",
    "Hawaii": "HI",
    "Iowa": "IA",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Massachusetts": "MA",
    "Maryland": "MD",
    "Maine": "ME",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Missouri": "MO",
    "Mississippi": "MS",
    "Montana": "MT",
    "North Carolina": "NC",
    "Nebraska": "NE",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "Nevada": "NV",
    "New York": "NY",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Puerto Rico": "PR",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Virginia": "VA",
    "Virgin Islands": "VI",
    "Vermont": "VT",
    "Washington": "WA",
    "Wisconsin": "WI",
    "West Virginia": "WV"
}


states_to_regions = {
    # West
    'WA': 'West', 'OR': 'West', 'CA': 'West', 'NV': 'West',
    'ID': 'West', 'MT': 'West', 'WY': 'West', 'UT': 'West',
    'CO': 'West', 'AK': 'West', 'HI': 'West',
    
    # Northeast
    'ME': 'Northeast', 'VT': 'Northeast', 'NH': 'Northeast', 
    'MA': 'Northeast', 'RI': 'Northeast', 'CT': 'Northeast',
    'NY': 'Northeast', 'NJ': 'Northeast', 'PA': 'Northeast',
    
    # Midwest
    'ND': 'Midwest', 'SD': 'Midwest', 'NE': 'Midwest', 'KS': 'Midwest',
    'MN': 'Midwest', 'IA': 'Midwest', 'MO': 'Midwest', 'WI': 'Midwest',
    'IL': 'Midwest', 'MI': 'Midwest', 'IN': 'Midwest', 'OH': 'Midwest',
    
    # South
    'WV': 'South', 'DC': 'South', 'MD': 'South', 'VA': 'South',
    'KY': 'South', 'TN': 'South', 'NC': 'South', 'MS': 'South',
    'AR': 'South', 'LA': 'South', 'AL': 'South', 'GA': 'South',
    'SC': 'South', 'FL': 'South', 'DE': 'South',
    
    # Southwest
    'AZ': 'Southwest', 'NM': 'Southwest', 'OK': 'Southwest', 'TX': 'Southwest',
    
    # Unclassified / Territories
    'PR': 'Territory',  # Puerto Rico
    'GU': 'Territory',  # Guam
    'VI': 'Territory',  # Virgin Islands
    'AP': 'Military',   # Armed Forces Pacific
}


# Standardize the 'Region' column by replacing full state names with abbreviations
adm_total['High School Region'] = adm_total['High School Region'].replace(state_mapping)
# Remove rows where 'Region' is still not a valid U.S. state abbreviation
valid_states = set(state_mapping.values())
#Drop non-U.S. rows (anything that wasn't mapped) and make sure to reset the index 
adm_total = adm_total[adm_total['High School Region'].isin(valid_states)].reset_index(drop=True)

adm_total['High School Region']=adm_total['High School Region'].map(states_to_regions)

In [47]:
#one hot encode them 
encoder= OneHotEncoder(sparse_output=False, dtype=int)
encoded_array = encoder.fit_transform(adm_total[['High School Region']])
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['High School Region']))
adm_total = pd.concat([adm_total, encoded_df], axis=1)

In [48]:
adm_total.drop(columns=['High School Region'],axis=1,inplace=True)

In [49]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12590 entries, 0 to 12589
Data columns (total 44 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12590 non-null  int64
 1   Application Major                    12590 non-null  int64
 2   Scholarship_Awarded                  12590 non-null  int64
 3   Application CGPA                     12590 non-null  float64
 4   FAFSA Filed                          12590 non-null  int64
 5   High School Code                     12590 non-null  int64
 6   Financial Aid Appeal                 12590 non-null  int64
 7   Accepted Student Day Event Attended  12590 non-null  int64
 8   Campus Visits - Person               12590 non-null  int64
 9   Campus Visits - App                  12590 non-null  int64
 10  Logins Before Admit                  12590 non-null  int64
 11  Acceptance Call Success              12590 non-null  int64
 12  Address 1 Region                     12590 non-null  object
 13  Application Consider Test Scores     11996 non-null  object
 14  Application ACRK                     12585 non-null  float64
 15  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 16  Emails Sent                          12590 non-null  int64
 17  Emails Opened                        12590 non-null  int64
 18  Was Inquiry                          12590 non-null  int64
 19  Athlete                              12590 non-null  int64
 20  admitted                             12590 non-null  int64
 21  Application College_00               12590 non-null  int64
 22  Application College_CAS              12590 non-null  int64
 23  Application College_COB              12590 non-null  int64
 24  Application College_HCLC             12590 non-null  int64
 25  Application College_ID               12590 non-null  int64
 26  Application College_SHS              12590 non-null  int64
 27  Application College_TCOE             12590 non-null  int64
 28  Application Housing_Commuter         12590 non-null  int64
 29  Application Housing_Residential      12590 non-null  int64
 30  Application Housing_nan              12590 non-null  int64
 31  Application Enroll Status_Full Time  12590 non-null  int64
 32  Application Enroll Status_Part Time  12590 non-null  int64
 33  Application Span                     12590 non-null  int64
 34  Admission Span                       12590 non-null  float64
 35  Person Sex_F                         12590 non-null  int64
 36  Person Sex_M                         12590 non-null  int64
 37  Person Sex_Unknown                   12590 non-null  int64
 38  High School Region_Midwest           12590 non-null  int64
 39  High School Region_Northeast         12590 non-null  int64
 40  High School Region_South             12590 non-null  int64
 41  High School Region_Southwest         12590 non-null  int64
 42  High School Region_Territory         12590 non-null  int64
 43  High School Region_West              12590 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(38), object(2)
memory usage: 4.2+ MB

In [50]:
adm_total['admitted'].value_counts()

admitted
0    11278
1     1312
Name: count, dtype: int64

### Address 1 region

In [51]:
adm_total[(adm_total['Address 1 Region'].isnull()) & (adm_total['admitted'] == 1)]

Empty DataFrame
Columns: [Application Reference ID, Application Major, Scholarship_Awarded, Application CGPA, FAFSA Filed, High School Code, Financial Aid Appeal, Accepted Student Day Event Attended, Campus Visits - Person, Campus Visits - App, Logins Before Admit, Acceptance Call Success, Address 1 Region, Application Consider Test Scores, Application ACRK, Waitlist Confirmed Date, Emails Sent, Emails Opened, Was Inquiry, Athlete, admitted, Application College_00, Application College_CAS, Application College_COB, Application College_HCLC, Application College_ID, Application College_SHS, Application College_TCOE, Application Housing_Commuter, Application Housing_Residential, Application Housing_nan, Application Enroll Status_Full Time, Application Enroll Status_Part Time, Application Span, Admission Span, Person Sex_F, Person Sex_M, Person Sex_Unknown, High School Region_Midwest, High School Region_Northeast, High School Region_South, High School Region_Southwest, High School Region_Territory, High School Region_West]
Index: []

[0 rows x 44 columns]

In [52]:
adm_total.loc[(adm_total['Address 1 Region'].isnull()) & (adm_total['admitted'] == 1), 'Address 1 Region'] = 'CT'

In [53]:
adm_total['Address 1 Region'].isna().sum()

0

In [54]:
#region mapping for the regions of the 
# Dictionary to map full state names to abbreviations
state_mapping = {
    "Alaska": "AK",
    "Alabama": "AL",
    "Armed Forces Pacific": "AP",
    "Arkansas": "AR",
    "Arizona": "AZ",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "District of Columbia": "DC",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Guam": "GU",
    "Hawaii": "HI",
    "Iowa": "IA",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Massachusetts": "MA",
    "Maryland": "MD",
    "Maine": "ME",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Missouri": "MO",
    "Mississippi": "MS",
    "Montana": "MT",
    "North Carolina": "NC",
    "Nebraska": "NE",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "Nevada": "NV",
    "New York": "NY",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Puerto Rico": "PR",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Virginia": "VA",
    "Virgin Islands": "VI",
    "Vermont": "VT",
    "Washington": "WA",
    "Wisconsin": "WI",
    "West Virginia": "WV"
}

# Remove rows where 'Region' is still not a valid U.S. state abbreviation
valid_states = set(state_mapping.values())

#Drop non-U.S. rows (anything that wasn't mapped) and make sure to reset the index 
adm_total = adm_total[adm_total['Address 1 Region'].isin(valid_states)].reset_index(drop=True)



#converting states to regions
states_to_regions = {
    # West
    'WA': 'West', 'OR': 'West', 'CA': 'West', 'NV': 'West',
    'ID': 'West', 'MT': 'West', 'WY': 'West', 'UT': 'West',
    'CO': 'West', 'AK': 'West', 'HI': 'West',
    
    # Northeast
    'ME': 'Northeast', 'VT': 'Northeast', 'NH': 'Northeast', 
    'MA': 'Northeast', 'RI': 'Northeast', 'CT': 'Northeast',
    'NY': 'Northeast', 'NJ': 'Northeast', 'PA': 'Northeast',
    
    # Midwest
    'ND': 'Midwest', 'SD': 'Midwest', 'NE': 'Midwest', 'KS': 'Midwest',
    'MN': 'Midwest', 'IA': 'Midwest', 'MO': 'Midwest', 'WI': 'Midwest',
    'IL': 'Midwest', 'MI': 'Midwest', 'IN': 'Midwest', 'OH': 'Midwest',
    
    # South
    'WV': 'South', 'DC': 'South', 'MD': 'South', 'VA': 'South',
    'KY': 'South', 'TN': 'South', 'NC': 'South', 'MS': 'South',
    'AR': 'South', 'LA': 'South', 'AL': 'South', 'GA': 'South',
    'SC': 'South', 'FL': 'South', 'DE': 'South',
    
    # Southwest
    'AZ': 'Southwest', 'NM': 'Southwest', 'OK': 'Southwest', 'TX': 'Southwest',
    
    # Unclassified / Territories
    'PR': 'Territory',  # Puerto Rico
    'GU': 'Territory',  # Guam
    'VI': 'Territory',  # Virgin Islands
    'AP': 'Military',   # Armed Forces Pacific
}

adm_total['Address 1 Region']=adm_total['Address 1 Region'].map(states_to_regions)

In [55]:
adm_total['Address 1 Region'].value_counts()

Address 1 Region
Northeast    11322
South          626
West           276
Midwest        175
Southwest      122
Territory       69
Name: count, dtype: int64

In [56]:
#one hot encode them 
encoder= OneHotEncoder(sparse_output=False, dtype=int)
encoded_array = encoder.fit_transform(adm_total[['Address 1 Region']])
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['Address 1 Region']))
adm_total = pd.concat([adm_total, encoded_df], axis=1)

In [57]:
adm_total.drop(columns=['Address 1 Region'],axis=1,inplace=True)

In [58]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12590 entries, 0 to 12589
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12590 non-null  int64
 1   Application Major                    12590 non-null  int64
 2   Scholarship_Awarded                  12590 non-null  int64
 3   Application CGPA                     12590 non-null  float64
 4   FAFSA Filed                          12590 non-null  int64
 5   High School Code                     12590 non-null  int64
 6   Financial Aid Appeal                 12590 non-null  int64
 7   Accepted Student Day Event Attended  12590 non-null  int64
 8   Campus Visits - Person               12590 non-null  int64
 9   Campus Visits - App                  12590 non-null  int64
 10  Logins Before Admit                  12590 non-null  int64
 11  Acceptance Call Success              12590 non-null  int64
 12  Application Consider Test Scores     11996 non-null  object
 13  Application ACRK                     12585 non-null  float64
 14  Waitlist Confirmed Date              61 non-null     datetime64[ns]
 15  Emails Sent                          12590 non-null  int64
 16  Emails Opened                        12590 non-null  int64
 17  Was Inquiry                          12590 non-null  int64
 18  Athlete                              12590 non-null  int64
 19  admitted                             12590 non-null  int64
 20  Application College_00               12590 non-null  int64
 21  Application College_CAS              12590 non-null  int64
 22  Application College_COB              12590 non-null  int64
 23  Application College_HCLC             12590 non-null  int64
 24  Application College_ID               12590 non-null  int64
 25  Application College_SHS              12590 non-null  int64
 26  Application College_TCOE             12590 non-null  int64
 27  Application Housing_Commuter         12590 non-null  int64
 28  Application Housing_Residential      12590 non-null  int64
 29  Application Housing_nan              12590 non-null  int64
 30  Application Enroll Status_Full Time  12590 non-null  int64
 31  Application Enroll Status_Part Time  12590 non-null  int64
 32  Application Span                     12590 non-null  int64
 33  Admission Span                       12590 non-null  float64
 34  Person Sex_F                         12590 non-null  int64
 35  Person Sex_M                         12590 non-null  int64
 36  Person Sex_Unknown                   12590 non-null  int64
 37  High School Region_Midwest           12590 non-null  int64
 38  High School Region_Northeast         12590 non-null  int64
 39  High School Region_South             12590 non-null  int64
 40  High School Region_Southwest         12590 non-null  int64
 41  High School Region_Territory         12590 non-null  int64
 42  High School Region_West              12590 non-null  int64
 43  Address 1 Region_Midwest             12590 non-null  int64
 44  Address 1 Region_Northeast           12590 non-null  int64
 45  Address 1 Region_South               12590 non-null  int64
 46  Address 1 Region_Southwest           12590 non-null  int64
 47  Address 1 Region_Territory           12590 non-null  int64
 48  Address 1 Region_West                12590 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(44), object(1)
memory usage: 4.7+ MB

In [59]:
adm_total['admitted'].value_counts()

admitted
0    11278
1     1312
Name: count, dtype: int64

### Application Consider Test Scores,Application ACRK,Waitlist Confirmed Date

In [60]:
adm_total['Application Consider Test Scores']=adm_total['Application Consider Test Scores'].apply(lambda x: 0 if x == "Do not consider my SAT and/or ACT results" or pd.isna(x) else 1)

In [61]:
adm_total['Waitlist Confirmed Date'] = adm_total['Waitlist Confirmed Date'].notna().astype(int)

In [62]:
adm_total['Application ACRK'].isna().sum()

5

In [63]:
adm_total.drop(adm_total[(adm_total['Application ACRK'].isnull()) & (adm_total['admitted'] == 0)].index, inplace=True)
adm_total.reset_index(drop=True, inplace=True)

In [64]:
adm_total['Application ACRK'].isna().sum()

2

In [65]:
mean_value = adm_total['Application ACRK'].mean()
adm_total['Application ACRK'].fillna(mean_value, inplace=True)

/var/folders/7t/938pkq393dl5_v0w4yxztbpw0000gn/T/ipykernel_2146/2157344892.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  adm_total['Application ACRK'].fillna(mean_value, inplace=True)

In [66]:
adm_total['Application ACRK'].isna().sum()

0

In [67]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12587 entries, 0 to 12586
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12587 non-null  int64
 1   Application Major                    12587 non-null  int64
 2   Scholarship_Awarded                  12587 non-null  int64
 3   Application CGPA                     12587 non-null  float64
 4   FAFSA Filed                          12587 non-null  int64
 5   High School Code                     12587 non-null  int64
 6   Financial Aid Appeal                 12587 non-null  int64
 7   Accepted Student Day Event Attended  12587 non-null  int64
 8   Campus Visits - Person               12587 non-null  int64
 9   Campus Visits - App                  12587 non-null  int64
 10  Logins Before Admit                  12587 non-null  int64
 11  Acceptance Call Success              12587 non-null  int64
 12  Application Consider Test Scores     12587 non-null  int64
 13  Application ACRK                     12587 non-null  float64
 14  Waitlist Confirmed Date              12587 non-null  int64
 15  Emails Sent                          12587 non-null  int64
 16  Emails Opened                        12587 non-null  int64
 17  Was Inquiry                          12587 non-null  int64
 18  Athlete                              12587 non-null  int64
 19  admitted                             12587 non-null  int64
 20  Application College_00               12587 non-null  int64
 21  Application College_CAS              12587 non-null  int64
 22  Application College_COB              12587 non-null  int64
 23  Application College_HCLC             12587 non-null  int64
 24  Application College_ID               12587 non-null  int64
 25  Application College_SHS              12587 non-null  int64
 26  Application College_TCOE             12587 non-null  int64
 27  Application Housing_Commuter         12587 non-null  int64
 28  Application Housing_Residential      12587 non-null  int64
 29  Application Housing_nan              12587 non-null  int64
 30  Application Enroll Status_Full Time  12587 non-null  int64
 31  Application Enroll Status_Part Time  12587 non-null  int64
 32  Application Span                     12587 non-null  int64
 33  Admission Span                       12587 non-null  float64
 34  Person Sex_F                         12587 non-null  int64
 35  Person Sex_M                         12587 non-null  int64
 36  Person Sex_Unknown                   12587 non-null  int64
 37  High School Region_Midwest           12587 non-null  int64
 38  High School Region_Northeast         12587 non-null  int64
 39  High School Region_South             12587 non-null  int64
 40  High School Region_Southwest         12587 non-null  int64
 41  High School Region_Territory         12587 non-null  int64
 42  High School Region_West              12587 non-null  int64
 43  Address 1 Region_Midwest             12587 non-null  int64
 44  Address 1 Region_Northeast           12587 non-null  int64
 45  Address 1 Region_South               12587 non-null  int64
 46  Address 1 Region_Southwest           12587 non-null  int64
 47  Address 1 Region_Territory           12587 non-null  int64
 48  Address 1 Region_West                12587 non-null  int64
dtypes: float64(3), int64(46)
memory usage: 4.7 MB

In [68]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12587 entries, 0 to 12586
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12587 non-null  int64
 1   Application Major                    12587 non-null  int64
 2   Scholarship_Awarded                  12587 non-null  int64
 3   Application CGPA                     12587 non-null  float64
 4   FAFSA Filed                          12587 non-null  int64
 5   High School Code                     12587 non-null  int64
 6   Financial Aid Appeal                 12587 non-null  int64
 7   Accepted Student Day Event Attended  12587 non-null  int64
 8   Campus Visits - Person               12587 non-null  int64
 9   Campus Visits - App                  12587 non-null  int64
 10  Logins Before Admit                  12587 non-null  int64
 11  Acceptance Call Success              12587 non-null  int64
 12  Application Consider Test Scores     12587 non-null  int64
 13  Application ACRK                     12587 non-null  float64
 14  Waitlist Confirmed Date              12587 non-null  int64
 15  Emails Sent                          12587 non-null  int64
 16  Emails Opened                        12587 non-null  int64
 17  Was Inquiry                          12587 non-null  int64
 18  Athlete                              12587 non-null  int64
 19  admitted                             12587 non-null  int64
 20  Application College_00               12587 non-null  int64
 21  Application College_CAS              12587 non-null  int64
 22  Application College_COB              12587 non-null  int64
 23  Application College_HCLC             12587 non-null  int64
 24  Application College_ID               12587 non-null  int64
 25  Application College_SHS              12587 non-null  int64
 26  Application College_TCOE             12587 non-null  int64
 27  Application Housing_Commuter         12587 non-null  int64
 28  Application Housing_Residential      12587 non-null  int64
 29  Application Housing_nan              12587 non-null  int64
 30  Application Enroll Status_Full Time  12587 non-null  int64
 31  Application Enroll Status_Part Time  12587 non-null  int64
 32  Application Span                     12587 non-null  int64
 33  Admission Span                       12587 non-null  float64
 34  Person Sex_F                         12587 non-null  int64
 35  Person Sex_M                         12587 non-null  int64
 36  Person Sex_Unknown                   12587 non-null  int64
 37  High School Region_Midwest           12587 non-null  int64
 38  High School Region_Northeast         12587 non-null  int64
 39  High School Region_South             12587 non-null  int64
 40  High School Region_Southwest         12587 non-null  int64
 41  High School Region_Territory         12587 non-null  int64
 42  High School Region_West              12587 non-null  int64
 43  Address 1 Region_Midwest             12587 non-null  int64
 44  Address 1 Region_Northeast           12587 non-null  int64
 45  Address 1 Region_South               12587 non-null  int64
 46  Address 1 Region_Southwest           12587 non-null  int64
 47  Address 1 Region_Territory           12587 non-null  int64
 48  Address 1 Region_West                12587 non-null  int64
dtypes: float64(3), int64(46)
memory usage: 4.7 MB

In [69]:
adm_total['admitted'].value_counts()

admitted
0    11275
1     1312
Name: count, dtype: int64

In [70]:
columns_df2=adm_total.columns.to_list()

In [71]:
missing_columns=set(columns_df1)-set(columns_df2)
missing_columns
#handle the missing values in this order
#Application Enroll Status_Part Time
#Application College_00'
#High School Region_Military
#Address 1 Region_Military

{'Address 1 Region_Military', 'High School Region_Military'}

In [72]:
for column in missing_columns:
    adm_total[column] = 0

In [73]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12587 entries, 0 to 12586
Data columns (total 51 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12587 non-null  int64
 1   Application Major                    12587 non-null  int64
 2   Scholarship_Awarded                  12587 non-null  int64
 3   Application CGPA                     12587 non-null  float64
 4   FAFSA Filed                          12587 non-null  int64
 5   High School Code                     12587 non-null  int64
 6   Financial Aid Appeal                 12587 non-null  int64
 7   Accepted Student Day Event Attended  12587 non-null  int64
 8   Campus Visits - Person               12587 non-null  int64
 9   Campus Visits - App                  12587 non-null  int64
 10  Logins Before Admit                  12587 non-null  int64
 11  Acceptance Call Success              12587 non-null  int64
 12  Application Consider Test Scores     12587 non-null  int64
 13  Application ACRK                     12587 non-null  float64
 14  Waitlist Confirmed Date              12587 non-null  int64
 15  Emails Sent                          12587 non-null  int64
 16  Emails Opened                        12587 non-null  int64
 17  Was Inquiry                          12587 non-null  int64
 18  Athlete                              12587 non-null  int64
 19  admitted                             12587 non-null  int64
 20  Application College_00               12587 non-null  int64
 21  Application College_CAS              12587 non-null  int64
 22  Application College_COB              12587 non-null  int64
 23  Application College_HCLC             12587 non-null  int64
 24  Application College_ID               12587 non-null  int64
 25  Application College_SHS              12587 non-null  int64
 26  Application College_TCOE             12587 non-null  int64
 27  Application Housing_Commuter         12587 non-null  int64
 28  Application Housing_Residential      12587 non-null  int64
 29  Application Housing_nan              12587 non-null  int64
 30  Application Enroll Status_Full Time  12587 non-null  int64
 31  Application Enroll Status_Part Time  12587 non-null  int64
 32  Application Span                     12587 non-null  int64
 33  Admission Span                       12587 non-null  float64
 34  Person Sex_F                         12587 non-null  int64
 35  Person Sex_M                         12587 non-null  int64
 36  Person Sex_Unknown                   12587 non-null  int64
 37  High School Region_Midwest           12587 non-null  int64
 38  High School Region_Northeast         12587 non-null  int64
 39  High School Region_South             12587 non-null  int64
 40  High School Region_Southwest         12587 non-null  int64
 41  High School Region_Territory         12587 non-null  int64
 42  High School Region_West              12587 non-null  int64
 43  Address 1 Region_Midwest             12587 non-null  int64
 44  Address 1 Region_Northeast           12587 non-null  int64
 45  Address 1 Region_South               12587 non-null  int64
 46  Address 1 Region_Southwest           12587 non-null  int64
 47  Address 1 Region_Territory           12587 non-null  int64
 48  Address 1 Region_West                12587 non-null  int64
 49  High School Region_Military          12587 non-null  int64
 50  Address 1 Region_Military            12587 non-null  int64
dtypes: float64(3), int64(48)
memory usage: 4.9 MB

### change the order

In [74]:
existing_columns = [col for col in columns_df1 if col in adm_total.columns]
adm_total = adm_total[existing_columns]

In [75]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12587 entries, 0 to 12586
Data columns (total 51 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12587 non-null  int64
 1   Application Major                    12587 non-null  int64
 2   Scholarship_Awarded                  12587 non-null  int64
 3   Application CGPA                     12587 non-null  float64
 4   FAFSA Filed                          12587 non-null  int64
 5   High School Code                     12587 non-null  int64
 6   Financial Aid Appeal                 12587 non-null  int64
 7   Accepted Student Day Event Attended  12587 non-null  int64
 8   Campus Visits - Person               12587 non-null  int64
 9   Campus Visits - App                  12587 non-null  int64
 10  Logins Before Admit                  12587 non-null  int64
 11  Acceptance Call Success              12587 non-null  int64
 12  Application Consider Test Scores     12587 non-null  int64
 13  Application ACRK                     12587 non-null  float64
 14  Waitlist Confirmed Date              12587 non-null  int64
 15  Emails Sent                          12587 non-null  int64
 16  Emails Opened                        12587 non-null  int64
 17  Was Inquiry                          12587 non-null  int64
 18  Athlete                              12587 non-null  int64
 19  admitted                             12587 non-null  int64
 20  Application College_00               12587 non-null  int64
 21  Application College_CAS              12587 non-null  int64
 22  Application College_COB              12587 non-null  int64
 23  Application College_HCLC             12587 non-null  int64
 24  Application College_ID               12587 non-null  int64
 25  Application College_SHS              12587 non-null  int64
 26  Application College_TCOE             12587 non-null  int64
 27  Application Housing_Commuter         12587 non-null  int64
 28  Application Housing_Residential      12587 non-null  int64
 29  Application Housing_nan              12587 non-null  int64
 30  Application Enroll Status_Full Time  12587 non-null  int64
 31  Application Enroll Status_Part Time  12587 non-null  int64
 32  Application Span                     12587 non-null  int64
 33  Admission Span                       12587 non-null  float64
 34  Person Sex_F                         12587 non-null  int64
 35  Person Sex_M                         12587 non-null  int64
 36  Person Sex_Unknown                   12587 non-null  int64
 37  High School Region_Midwest           12587 non-null  int64
 38  High School Region_Military          12587 non-null  int64
 39  High School Region_Northeast         12587 non-null  int64
 40  High School Region_South             12587 non-null  int64
 41  High School Region_Southwest         12587 non-null  int64
 42  High School Region_Territory         12587 non-null  int64
 43  High School Region_West              12587 non-null  int64
 44  Address 1 Region_Midwest             12587 non-null  int64
 45  Address 1 Region_Military            12587 non-null  int64
 46  Address 1 Region_Northeast           12587 non-null  int64
 47  Address 1 Region_South               12587 non-null  int64
 48  Address 1 Region_Southwest           12587 non-null  int64
 49  Address 1 Region_Territory           12587 non-null  int64
 50  Address 1 Region_West                12587 non-null  int64
dtypes: float64(3), int64(48)
memory usage: 4.9 MB

In [76]:
#before normalise 
adm_total['Application Span'].describe()

count    12587.000000
mean        21.400254
std         29.189558
min          0.000000
25%          6.000000
50%         13.000000
75%         24.000000
max        370.000000
Name: Application Span, dtype: float64

In [77]:
#normalise the data using min-max scalar 
#fields to normalise 
#1.Application CGPA
#2.Campus Visits - Person
#3.Campus Visits - App
#4.Logins Before Admit
#5.Application ACRK
#6.Emails Sent
#7.Emails Opened
#8.Application Span  
#9.Admission Span 
columns_to_normalize = [
    'Application CGPA',
    'Campus Visits - Person',
    'Campus Visits - App',
    'Logins Before Admit',
    'Application ACRK',
    'Emails Sent',
    'Emails Opened',
    'Application Span',
    'Admission Span'
]
# Initialize MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
adm_total[columns_to_normalize] = scaler.fit_transform(adm_total[columns_to_normalize])

In [78]:
#before normalise 
adm_total['Application Span'].describe()

count    12587.000000
mean         0.057839
std          0.078891
min          0.000000
25%          0.016216
50%          0.035135
75%          0.064865
max          1.000000
Name: Application Span, dtype: float64

In [79]:
adm_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12587 entries, 0 to 12586
Data columns (total 51 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Application Reference ID             12587 non-null  int64
 1   Application Major                    12587 non-null  int64
 2   Scholarship_Awarded                  12587 non-null  int64
 3   Application CGPA                     12587 non-null  float64
 4   FAFSA Filed                          12587 non-null  int64
 5   High School Code                     12587 non-null  int64
 6   Financial Aid Appeal                 12587 non-null  int64
 7   Accepted Student Day Event Attended  12587 non-null  int64
 8   Campus Visits - Person               12587 non-null  float64
 9   Campus Visits - App                  12587 non-null  float64
 10  Logins Before Admit                  12587 non-null  float64
 11  Acceptance Call Success              12587 non-null  int64
 12  Application Consider Test Scores     12587 non-null  int64
 13  Application ACRK                     12587 non-null  float64
 14  Waitlist Confirmed Date              12587 non-null  int64
 15  Emails Sent                          12587 non-null  float64
 16  Emails Opened                        12587 non-null  float64
 17  Was Inquiry                          12587 non-null  int64
 18  Athlete                              12587 non-null  int64
 19  admitted                             12587 non-null  int64
 20  Application College_00               12587 non-null  int64
 21  Application College_CAS              12587 non-null  int64
 22  Application College_COB              12587 non-null  int64
 23  Application College_HCLC             12587 non-null  int64
 24  Application College_ID               12587 non-null  int64
 25  Application College_SHS              12587 non-null  int64
 26  Application College_TCOE             12587 non-null  int64
 27  Application Housing_Commuter         12587 non-null  int64
 28  Application Housing_Residential      12587 non-null  int64
 29  Application Housing_nan              12587 non-null  int64
 30  Application Enroll Status_Full Time  12587 non-null  int64
 31  Application Enroll Status_Part Time  12587 non-null  int64
 32  Application Span                     12587 non-null  float64
 33  Admission Span                       12587 non-null  float64
 34  Person Sex_F                         12587 non-null  int64
 35  Person Sex_M                         12587 non-null  int64
 36  Person Sex_Unknown                   12587 non-null  int64
 37  High School Region_Midwest           12587 non-null  int64
 38  High School Region_Military          12587 non-null  int64
 39  High School Region_Northeast         12587 non-null  int64
 40  High School Region_South             12587 non-null  int64
 41  High School Region_Southwest         12587 non-null  int64
 42  High School Region_Territory         12587 non-null  int64
 43  High School Region_West              12587 non-null  int64
 44  Address 1 Region_Midwest             12587 non-null  int64
 45  Address 1 Region_Military            12587 non-null  int64
 46  Address 1 Region_Northeast           12587 non-null  int64
 47  Address 1 Region_South               12587 non-null  int64
 48  Address 1 Region_Southwest           12587 non-null  int64
 49  Address 1 Region_Territory           12587 non-null  int64
 50  Address 1 Region_West                12587 non-null  int64
dtypes: float64(9), int64(42)
memory usage: 4.9 MB

In [80]:
adm_total['admitted'].value_counts()

admitted
0    11275
1     1312
Name: count, dtype: int64

In [81]:
adm_total.to_excel("Fall 2025 5.13.25_processed_norm.xlsx",index=False)